rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return resource.data.address == request.auth.uid;
    }

    function isAdmin() {
      return request.auth.token.admin
    }

    match /whitelist/{wlId} {
      allow read: if isOwner() || isAdmin();
      allow write: if isAdmin();
    }

    match /giveaway/{giveId} {
      allow read, write: if isAdmin();
    }

    match /claims/{claimId} {
      allow read, write: if isAdmin();
    }

    match /deposits/{depId} {
      allow read, write: if isAdmin();
    }
  }
}